.license_box {
    font-family: georgia,serif;
    font-size: 16px;
    color: brown;
    background-color: lightgray;
    margin-top: 70px;
    padding: 10px 10px 10px 20px;
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    line-height: normal;
}

.license_box > a {
    color: #09F;
    text-decoration: none;
}

.license_deco:hover {
    text-decoration: underline;
}

.img_deco:hover {
    text-decoration: none;
}

.img_license {
    width: 80px;
    height: 15px;
    margin-top: 5px;
    padding-right: 10px;
    border: 0px;
}
